<!DOCTYPE html>
<html lang='en' ng-app='storeApp'>
<head>
  <title> Angular Store </title>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js'></script>
  <script src='js/controllers.js'></script>
</head>
<body ng-controller='StoreController as store'>
  <h1>Welcome to our {{store.store}} </h1>
  <h2> Our Products </h2>
  <ul>
    <li ng-repeat='product in store.products | filter:query'>
      {{product.name}} Cost: {{product.cost}}
    </li>
    <input ng-model='query'>
  </ul>
</body>
</html>
